include ./modules/_page.jade

- var page = pages.index;

+pageLayout
  ul.c-page-list
    each page in pages
      if (page.path != '/')
        li.c-page-list__item
          a(href="#{page.path}")
            |#{page.title}
