.c-writer
  h2.c-pwriter__head
    |Writer
  h3.c-pwriter__name
    |yoichi kobayashi
  ul.c-pwriter__related
    li.c-pwriter__related-item
      a(href="www.tplh.net", target="_blank") www.tplh.net
